.card {
  padding-top: 80px;
}

.card-title {
  padding-top: 35px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.card-description {
  opacity: 0.75;
  color: #333333;
  line-height: 22px;
  letter-spacing: 0.7px;
}
.card-icon {
  font-size: 50px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#00e0d0),
    to(#4aa3cc)
  );
  background-image: -o-linear-gradient(left, #00e0d0 0%, #4aa3cc 100%);
  background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.card-image > img {
  width: 49px;
  height: 50px;
}
.card-secondary {
  border: 1px solid #e1e1e1;
}
.secondary-title {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 12px;
  margin-top: 20px;
}
.secondary-description {
  opacity: 0.7;
  color: #fafafa;
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 28px;
  margin: 0px;
}
.secondary-image > img {
  width: 220px;
  height: 229px;
  background-color: #ffffff;
}
